<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Stylesheet - uses path defined by flask -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <title>Disasters</title>
  </head>
  <body>
    <div class="container">
      <!-- START NAV -->
      <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/disasters">Disasters <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Other Stuff</a>
            <a class="nav-item nav-link" href="#">More Stuff</a>
          </div>
        </div>
      </nav> -->
      {% include 'bar2.html' %}
      <!-- END NAV -->
      <div class="card">
        <h5 class="card-header">Disasters</h5>
        <div class="card-body" style="max-height: 80vh; overflow-y:scroll">
          <table class="table">
            <thead><tr>
              <th>Disaster ID</th>
              <th>Name</th>
              <th>Location</th>
              <th>Start Date</th>
              <th>Active</th>
              <th></th>
            </tr></thead>
            <tbody>
            {% for disasterID, Name, Location, Date, Active in disasters %}
            <tr>
              <th>{{disasterID}}</th>
              <td>{{Name}}</td>
              <td>{{Location}}</td>
              <td>{{Date}}</td>
              <td>{{'True' if Active else 'False'}}</td>
              <td>
                <a href="/disaster/{{disasterID}}" class="btn btn-primary">Details</a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </body>
</html>
