<!#DOCTYPE html>
<html>
<head>
    <style> table, th, td {
        border: 1px solid black;
}</style>
    <title>User Search</title>
</head>
<body>
    <h1> User Search </h1>
    post = post
    {            {% for User, Name, Location, Date, Active in Users %}
            <tr>
              <th>{{User}}</th>
              <td>{{Name}}</td>
              <td>{{Location}}</td>
              <td>{{Date}}</td>
              <td>{{'True' if Active else 'False'}}</td>
              <td>

              </td>
            </tr>
            {% endfor %}
    }
</body>
</html>